* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #f0f0f0;
    padding: 24px 100px;
}

.main {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 26px 12px 27px;
    margin-top: 1%;
    margin-bottom: -2%;
}

header {
    height: 135px;
    text-align: center;
    padding-top: 15px;
    background-image: linear-gradient(45deg, rgb(92, 9, 9), #fd9002);
}

.logo {
    align-items: center;
    width: 400px;
    height: auto;
    margin-top: -140px;
}

.footer {
    background-image: linear-gradient(45deg, rgb(92, 9, 9), #fd9002);
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.h1 {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    color: #ff6a28;
    margin-bottom: 20px;
}

li {
    list-style-position: inside;
    line-height: 35px;
}

ul {
    margin-bottom: 10px;
}

.link-footer {
    text-decoration: none;
    color: white;
    text-align: center;
}

.ul-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #ffe8bd;
    padding: 10px;
    box-shadow: 3px 3px 14px;
    text-align: center;
}

.li-menu {
    flex-grow: 1;
    color: #ec6307;
    text-decoration: none;
}

.sem_ponto{
    list-style-type: none;
}

a {
    color: inherit;
}

.card_img {
    background-color: #fff;
    padding: 20px /*cima*/ 0px /*direito*/ 20px /*baixo*/ 100px /*esquerdo*/;
    margin-bottom: 2%;
}

.card_ingredientes {
    background-color: #fff;
    padding: 20px /*cima*/ 50px /*direito*/ 10px /*baixo*/ 80px /*esquerdo*/;
    margin-bottom: 2%;
}

.card_preparo {
    background-color: #fff;
    padding: 1px /*cima*/ 50px /*direito*/ 1px /*baixo*/ 80px /*esquerdo*/;
    }

.h11 {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 2%;
}
.h12 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}